# Requisitos globales del proyecto (ETL + Notebook + Webapp)

# Base de datos y calculo
pandas>=1.5
numpy>=1.23
scipy>=1.10

# Machine learning
scikit-learn>=1.2
joblib>=1.2

# Visualizacion
matplotlib>=3.7
plotly>=5.18
umap-learn>=0.5.6

# App web
streamlit>=1.35

# Acceso a Gaia/TAP
pyvo>=1.5
